<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mochi shorten link</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap">
    <style>
        body{
            font-family: 'Ubuntu Mono', monospace;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1> Hey there, welcome to mochi. </h1>
    <p>I suppose you're here to shorten your url?
    to do that, paste this into the url bar of your browser
    after editing the placeholders</p>
    <p>{{base_url}}/?url=the_url_you_wanna_shorten</p>
    <p>want an example? {{base_url}}/?url=https://example.com</p>
    <p>That's it, as simple as that. However,
    we have a lot other features, to learn about them
    refer to the README of <a href="https://github.com/synbhwl/mochi"
    target="_blank">https://github.com/synbhwl/mochi</a></p>
</body>
</html>