<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mochi shorten link</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap">
    <style>
        body{
            font-family: 'Ubuntu Mono', monospace;
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1> Hey there! Welcome to mochi </h1>
    <p> Here is you shortened link
    <a href="{{short_url}}" target="_blank">{{short_url}}</a></p>
</body>
</html>